<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="url" value="http://192.168.5.166:47665/jobs"/>
    <add key="user" value="admin"/>
    <add key="password" value="alerts"/>
    <add key="alertfile" value="samplealert.xml"/>
    <add key="serveraddress" value="192.168.5.166"/>
  </appSettings>
  
</configuration>
